
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>User Info</title>
        <link href="/css/<%= cssFile %>" rel="stylesheet"/>
    </head>
    <body>
        <h1>Welcome <%= name %> age <%=age %> </h1>
    </body>
</html>
